---
import { getCollection, render } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: {
      slug: post.id,
    },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BlogLayout
  title={post.data.title}
  description={post.data.description}
>

  <h1>{post.data.title}</h1>

  <p class="description">
    {post.data.description}
  </p>

  <p class="post-date">
    {new Date(post.data.pubDate).toLocaleDateString("id-ID")}
  </p>

  <Content />

</BlogLayout>