---
import BlogLayout from "@/layouts/BlogLayout.astro";
---

<BlogLayout

title="Testing Blog Layout"

description="Halaman untuk menguji Article Hero"

category="Tutorial"

author="AI Praktis Indonesia"

pubDate={new Date("2026-07-03")}

updatedDate={new Date("2026-07-04")}

tags={["ChatGPT","Gemini","AI"]}

>

<h2>

Heading Kedua

</h2>

<p>

Isi artikel dimulai dari sini.

</p>

</BlogLayout>

content={`
Lorem ipsum dolor sit amet
consectetur adipiscing elit
...
`}